@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important; 
}
Section{
    width: 100%;
    padding: 4% 5%;
}
.main-box{
    margin: auto;
}


/*----navbar-----*/
.navbar{
    padding: 15px 5%;
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: white;

}
.navlogo{
    font-size: 30px;
    font-weight: 600;
}
.nav-link{
    font-size: 18px;
    font-weight: 600;
}

.nav-link:hover{
    color: black !important;
}

.searchbar{
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #ccc !important; 
    border-radius: 8px;
    outline-offset: 0px;
}
nav .btn{
    font-size: 18px;
    border-radius: 6px;
}
.navbar-toggler{
    position: absolute;
    right: 5%;
    top: 10px
}
#my-carousel {
    width: 100%;
    position: relative;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    transition: 0.5s ease;
}
.carousel-indicators .active{
    width: 15px !important;
    height: 15px !important;
}
#my-carousel .btn{
    position: absolute;
    bottom: 40px;
    border: none;
}
.carousel-indicators, .carousel-caption{
    margin-bottom: 100px !important;
}

#Section-1 img{
    width: 100%;
    border-radius: 10px;
}
.sec1-text{
    font-size: 18px;
}

#Section-3 .card{
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#Section-3 .card  img{
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}
#Section-3 .card-body h5{
    font-size: 20px;
    font-weight: 600;

}

.row-grid {
    display: grid;
    
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "img1 img2 img3 img4"
      "img1 img5 img6 img7"
      "img8 img9 img9 img9";
  }
  .row-grid > div img{
    width: 100%;
    height: 100%;
    padding: 7.5px;
  }
  
  .row-grid .image1 {
    grid-area: img1;
  }
  
  .row-grid .image2 {
    grid-area: img2;
  }
  
  .row-grid .image3 {
    grid-area: img3;
  
  }
  
  .row-grid .image4 {
    grid-area: img4;
  }
  
  .row-grid .image5 {
    grid-area: img5;
  }
  
  .row-grid .image6 {
    grid-area: img6;
  }
  
  .row-grid .image7 {
    grid-area: img7;
  }
  
  .row-grid .image8 {
    grid-area: img8;
  }
  
  .row-grid .image9 {
    grid-area: img9;
  }
  
  @media screen and (max-width: 576px) {
    .row-grid > div img{
        height: auto;
      }
    .row-grid {
      grid-template-columns: 1fr ;
      grid-template-areas: 
        "img1 "
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8"
        "img9";
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
    .row-grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
        "img1 img4 img4"
        "img2 img2 img2"
        "img7 img7 img3"
        "img5 img5 img5"
        "img6 img6 img6"
        "img8 img9 img9";
      }
  }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .row-grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
        "img1 img4 img4"
        "img2 img3 img5"
        "img7 img7 img7"
        "img6 img6 img6"
        "img8 img9 img9";
      }
      .row-grid .image6 {
        display: none;
      }
  }
  